<div>
    <ion-icon name="calendar"></ion-icon>
    <span>{{ include.page.date | date_to_long_string: "ordinal" }}</span>
    {% if include.page.next == nil %}
    <span>(most recent)</span>
    {% endif %}
  </div>
  <div>
    <ion-icon name="hourglass"></ion-icon>
    <span>{{include.time_words | divided_by: 60}} minutes read</span>
  </div>
  {% if include.page.tags %}
  <div class="tags">
    {% for tag in include.page.tags %}
    <a href="/categories/#{{ tag }}">
      <div class="pricetagIn">
        {% assign tagData = site.data.tags-data[tag] %}
        <span>{{ tagData.symbol }} {{ tag }}</span>
        
      </div>
    </a>
    {% endfor %}
  </div>
  {% endif %}