/* PAID WAGON FONT */
@font-face {
    font-family: "Wagon";
    src: url("https://phoenixx.design/content/fonts/Wagon-BoldItalic.woff/Wagon-BoldItalic.woff") format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Wagon";
    src: url("https://phoenixx.design/content/fonts/Wagon-BoldItalic.woff/Wagon-BoldItalic.woff2") format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}



/* WAGON FONT */
@font-face {
    font-family: "Wagon";
    src: url("https://phoenixx.design/content/fonts/Wagon-ExtraLight.otf");
    font-style: normal;
    font-weight: lighter;
    font-display: swap;
}
@font-face {
    font-family: "Wagon";
    src: url("https://phoenixx.design/content/fonts/Wagon-Bold.otf");
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}

/* HEADING PRO */
@font-face {
    font-family: "Heading Pro";
    src: url("https://phoenixx.design/content/fonts/Heading-Pro-Wide-Bold-Italic-trial.ttf");
    font-style: italic;
    font-weight: bold;
    font-display: swap;
}
@font-face {
    font-family: "Heading Pro";
    src: url("https://phoenixx.design/content/fonts/Heading-Pro-Wide-Regular-trial.ttf");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}


/* BLOG */
@font-face {
    font-family: "Bricolage Grotesque";
    src: url("./BricolageGrotesque%5Bopsz,wdth,wght%5D.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-optical-sizing: auto;
  }